<ion-view class="fond" view-title="Form">
    <ion-content class="padding">
        <h3 class="title text-center texte-blanc">Votre coach, vous le voyez comme ?</h3>
        <form ng-submit="form()">
            <ion-list>
                <ion-radio ng-model="choixAttitude" ng-value="'ami'">Un ami</ion-radio>
                <ion-radio ng-model="choixAttitude" ng-value="'officier'">Un officier</ion-radio>
                <ion-radio ng-model="choixAttitude" ng-value="'peu importe'">Peu importe</ion-radio>
            </ion-list>
            <div class="padding">
                <button class="button button-block button-balanced boutton-radius vert" type="button" ng-click="viewResult()">Valider</button>
            </div>
        </form>
    </ion-content>
</ion-view>
