<ion-view view-title="Programme">
    <ion-content class="padding">
        <div class="list">
            <label class="item item-input item-select">
                <div class="input-label">
                    Jours
                </div>
                <select>
                    <option>Lundi</option>
                    <option selected>Mardi</option>
                    <option>Mercredi</option>
                    <option>Jeudi</option>
                    <option>Vendredi</option>
                    <option>Samedi</option>
                    <option>Dimanche</option>
                </select>
            </label>
        </div>
        <button class="button button-block button-balanced">Valider !</button>
    </ion-content>
</ion-view>
