<ion-view class="fond" view-title="Programme">
    <ion-content class="padding">
        <div class="list">
            <h4 class="text-center texte-blanc">Choisissez votre jour d'entrainement</h4>
            <label class="item item-input item-select">
                <div class="input-label">
                    Jours
                </div>
                <select>
                    <option>Lundi</option>
                    <option selected>Mardi</option>
                    <option>Mercredi</option>
                    <option>Jeudi</option>
                    <option>Vendredi</option>
                    <option>Samedi</option>
                    <option>Dimanche</option>
                </select>
            </label>
        </div>
        <button class="button button-block button-positive boutton-radius" ng-click="timetime()">Choisir son heure</button>
        <div class="selectedTime">
            <h4 class="text-center">{{ timePicker}}</h4>
        </div>
        <button class="button button-block button-balanced boutton-radius">Valider !</button>

        <div class="notif text-center">
            <button class="button button-assertive boutton-radius" ng-click="add()">Add notification</button>
            <button class="button button-assertive boutton-radius" ng-click="isScheduled()">Is Scheduled</button>
        </div>
    </ion-content>
</ion-view>
