<ion-view view-title="register">
    <ion-content class="padding">
        <ion-list>
            <form name="register" ng-submit="register()">
                <div class="list list-inset">
                    <label class="item item-input">
                        <input type="text" placeholder="Pseudo" ng-model="userData.user_pseudo">
                    </label>
                    <label class="item item-input">
                        <input type="email" placeholder="Email" ng-model="userData.user_email">
                    </label>
                    <label class="item item-input">
                        <input type="password" placeholder="Mot de passe" ng-model="userData.user_password">
                    </label>
                    <button class="button button-block button-positive" type="submit">Register</button>
                </div>
            </form>
        </ion-list>
    </ion-content>
</ion-view>